<!DOCTYPE html>
<html>

   <head>
      <title>Global Future-Climate</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>

   <body>
    <div class="container">
      <div id="main">
      <center>
     <h1><big>Global Future</big></h1>
      <h1> <u>The Master Plan:</u></h1>
      </center>
      <div class = "row">
        <center>
        <a href="/population">
        <button id="population">Population Plan</button></a>
        <a href="/climate">
        <button id= "climate">Climate Management</button></a>
        <a href="/food">
        <button id="food">Food for the planet</button></a>
        <a href="/packaging">
        <button id="packaging">Packaging</button></a>
        <a href="/plastics">
        <button id="plastics">Plastics</button></a>
        <a href="/transport">
        <button id="transport">Transportation/Travel</button></a>
        <a href="/water">
        <button id="water">Water Management</button></a>
        <a href="/infr">
        <button id="Infrastructure">Infrastructure</button></a>         
        </center>
      </div>    
      </div>
      
      <center>
      <div id="content"></div></center><br><br><br>
      <div id="details">
        
      <center>
      <u>
        
        We need to limit 'over packaging'</u></center>
      <br><br>
      <center><h1>Packaging</h1></center>
        <br>•	Large amounts of energy is required to produce packaging – cardboard and plastic – yet cardboard and plastic packaging has become excessive and wasteful; often the material in the packaging far exceeds the material in the contents.
        <br>•	Packaging of Supermarket foods needs to be radically reduced or eliminated. The food industries must convert to compostable alternatives, and less of them.
        <br><br>
        A good example of sustainable packaging is:
        <center><h2>
        Google Nest Hub
        </h2>
         -packaging is made almost completely of compostable cardboard (exeption being the plastic screen cover).
        
        <img id="googleBox" src="https://res-console.cloudinary.com/pollie/thumbnails/transform/v1/image/upload/Y19zY2FsZSx3XzEwOTE=/v1606855539/cGFja2FnaW5nX3N1cDZkYw==/template_primary" alt="Photo of packaging">  
        <br><br>
       
        <a href="/"><button>Main Page</button></a></center>
        <!--
        <center>
          <br />
          Please leave a comment -any info/facts or suggestions are welcome.<br />
          <br>

          <!--<form action="/comments" method="post" id="myForm">-
          <form action="mailto:p_ollie@hotmail.com" method="post" enctype="text/plain" id="commentForm">
            <div id="inputs">
              <label for="email"><b>Email:</b><i>Optional</i></label>
            <input type="email" id="email" name="email" />
            <label for="fname"><b>First name:</b><i>Optional</i></label>
            <input type="text" id="fname" name="fname" /><br><br>
            Comment on existing or new topic?<br>
            <div class="radioButtons">
            <div class="row">
              
            <input type="radio" id="populationRadio" value="population" name="radio" />
            <label for="population">Population </label>
            <input type="radio" id="climateRadio" value="climate" name="radio" />
            <label for="climate">Climate</label>
            <input type="radio" id="foodRadio" value="existingTopic" name="food" />
            <label for="food">food </label>
            <input type="radio" id="packagingRadio" value="packaging" name="radio" />
            <label for="packaging">Packaging </label>
            <input type="radio" id="plasticRadio" value="plastic" name="radio" />
            <label for="plastic">plastic</label>
            
              </div>
              </div>
            <div class="radioButtons">
            <input type="radio" id="climat" value="newTopic" name="radio" />
            <label for="newTopic"> New Topic</label><br>
            </div>
            <div class="details">
              <label>Comments:</label><br>
            <textarea name="comment" maxlength="400" form="commentForm" cols="30%"></textarea>
            </div>
              <input type="submit" />
            </div>
          </form>
        </center>
        -->
</div>
</div>
</body>

</html>
