<!DOCTYPE html>
<html>
  <head>
    <title>Global Future-Water</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container">
      <div id="main">
        <center>
          <h1><big>Global Future</big></h1>
          <h1><u>The Master Plan:</u></h1>
        </center>
        <div class="row">
          <center>
            <a href="/population">
              <button id="population">Population Plan</button></a
            >
            <a href="/climate">
              <button id="climate">Climate Management</button></a
            >
            <a href="/food"> <button id="food">Food for the planet</button></a>
            <a href="/packaging"> <button id="packaging">Packaging</button></a>
            <a href="/plastics"> <button id="plastics">Plastics</button></a>
            <a href="/transport">
              <button id="transport">Transportation/Travel</button></a
            >
            <a href="/water"> <button id="water">Water Management</button></a>
            <a href="/infr">
              <button id="Infrastructure">Infrastructure</button></a
            >
          </center>
        </div>
      </div>

      <center>
        <div id="content"></div>
      </center>
      <br /><br /><br />
      <div id="details">
        <center>
          <h3>
            <u> Water is essential for life</u>
          </h3>
        </center>
        <br /><br />
        <center><h1>Water Management</h1></center>
        <br />The oceans are in critical condition and worsening. Fish stock
        depletion by highly technological overfishing has to stop. A 3-year
        period shall allow for adjustment from technological factory fishing the
        oceans, to fish farms developed in large ocean inlets and coves,
        stocked, developed and run by those factory-fishing the open oceans.
        Local land-based fishing shall continue to provide food for the
        locality. <br /><br />
        <center><h2>Freshwater management</h2></center>
        • For drinking purposes, kits for cleaning water to be developed and
        supplied to third world countries with water cleanliness problems. When
        and where de-salinization becomes efficient, it shall be used primarily
        for drinking water.
        <br /><br />• In first world countries, a system shall be developed to
        re-cycle grey water in each domicile and re-use it. <br /><br />• For
        irrigation purposes, water usage to be limited by law, so that
        mega-farming shall be reduced and water conserved. Financial incentives
        shall be in place to offset the effect of reduced production.<br />
        <br />
        <center>
          <a href="/"><button>Main Page</button></a>
        </center>
      </div>
    </div>
  </body>
</html>
