
* {
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  margin: 25px;
  color: #222;
  background-color: #f5f5f5;
}
.details {
  background-color:white;
  border: 3px solid black;
}

h1 {
  font-weight: bold;
  
}


p {
  max-width: 900px;
}

button {
  border: 3px solid black   
}

button:hover{ 
  border: solid 3px red  
}
form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #87D37C;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
}
textarea{
  height: 100px;
  width:  90%; 
  margin: auto;
  /*min-width:10px;
  max-width:400px;
  */
}
input {
  display: inline;
  margin-bottom: 15px;
  padding: 5px;
  width: auto;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}


input:checked {
  height: 30px;
  width: 30px;
 
}
input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #FFFEC4;
  padding: 2px;
}




.radioButtons {
  border: 1px solid black
  
}
.radioButtons:hover {
  border: 1px solid black;
  background-color: grey;
}

.bold {
  font-weight: bold;
}
#main {
  background-color:lightblue;
  border-radius:5px;
}
#details {
  background-color:white;
  border: 3px solid black;
}
#googleBox {
  width:90%;
}

@media only screen and (min-width: 520px) {
  button {
    font-size: 1em;
  }
   body { 
      font-size: 1em; 
   }

}